<% provide(:title, "About") %>
<h1>About</h1>
<%= link_to image_tag("https://avatars0.githubusercontent.com/u/23062808?v=4&s=460",
            class: "ivan",  alt: "ivan"),
            'https://www.linkedin.com/in/ivan-rubio-962b6170/' %>
<br>
<p>Desarrollador Web, Diseñador Instruccional E-learning, Maestro en Administración de Empresas, etc.</p>
<p>Algunos ejemplos de su trabajo son:</p>
<ul>

  <li><a href="http://universidadvirtual.dish.com.mx/Plataforma_Dish_Moodle/IVAN/diccionario/diccionario.htm">Diccionario en línea</a></li>
  <li><a href="http://universidadvirtual.dish.com.mx/Plataforma_Dish_Moodle/IVAN/retos_e_learning_OP/index_retosElearning.html">Retos E-learning</a></li>
  <li><a href="http://universidadvirtual.dish.com.mx/Plataforma_Dish_Moodle/IVAN/paparelism/index.html">Normas Tecnicas</a></li>
  <li><a href="http://www.genial.ly/View/Index/56ec42801561e80f5c862738">Who is Cobranza Presencial</a></li>
  <li><a href="http://universidadvirtual.dish.com.mx/Plataforma_Dish_Moodle/Ventas/Proyectos/Curso_basico_de_ventas/RENDER_EXTERNOS_BASIC/index_externos.html">Básico de Ventas</a></li>
  <li><a href="https://www.youtube.com/watch?v=PPbXPfr3SVE">48 x 48</a></li>
  <li><a href="https://www.youtube.com/watch?v=wFkJd77CZSE">Preguntas Frecuentes</a></li>
  <li><a href="https://www.youtube.com/watch?v=iAOq8eKh2hw">Inducción a la Empresa</a></li>
  <li><a href="https://www.youtube.com/watch?v=4XkYd51_rLs&t=11s">Moodle use</a></li>
  <li><a href="https://www.youtube.com/watch?v=JIqxQ_8cMDU">Siana en línea</a></li>
  <li><a href="https://patosandia-app.herokuapp.com/">Pato Sandia, app de ejercicios interactivos</a></li>
</ul>
