<div class="center jumbotron" id="home">
  <h1>Bienvenido a la app de ivan</h1>

  <h2>
    Pruebas e integraciones
  </h2>

  <%= link_to "registrate!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("https://avatars0.githubusercontent.com/u/23062808?v=4&s=460",
            class: "ivan",  alt: "ivan"),

            'https://github.com/doberman7?tab=repositories' %>
