<!DOCTYPE HTML>
<html lang="es"
<head>
  <meta charset="utf-8">
  <title>Siana en Línea</title>
  <link rel="stylesheet" href="STYLE/estilos.css"
</head>

<body>

  <div id="titulo">
		<p id="header">Holaaa</p>
		<p id="subheader">Bienvenido al curso interactivo de Siana en Línea</p>
    <p id="subheader_dos">Selecciona un capítulo</p>

	</div>


  <style type="text/css">
        a:link
              {
              text-decoration:none;
              }
  </style> <!-- quitar el subrayado de vinculos flash-->

  <header>

    <div class="contenedor" id="uno">
      <a href="1. Conociendo SIANA en línea/1. Conociendo SIANA en línea.htm"><img class="icon" src="images/icon1.png"></a>
      <p class="texto"><a href="1. Conociendo SIANA en línea/1. Conociendo SIANA en línea.htm">Conociendo SIANA en línea</a></p>
    </div>

    <div class="contenedor" id="dos">
      <a href="2. Acceso a Siana en línea/2. Acceso a Siana en línea.htm"><img class="icon" src="images/icon2.png"></a>
      <p class="texto"><a href="2. Acceso a Siana en línea/2. Acceso a Siana en línea.htm">Acceso a Siana en línea</a></p>
    </div>

    <div class="contenedor" id="tres">
      <a href="3. Bloque Principal/3. Bloque Principal.htm"><img class="icon" src="images/icon3.png"></a>
      <p class="texto"><a href="3. Bloque Principal/3. Bloque Principal.htm">Bloque Principal</p>
    </div>

    <div class="contenedor" id="cuatro">
      <a href="4.Bloque de Búsquedas específicas/4.Bloque de Búsquedas específicas.htm"><img class="icon" src="images/icon4.png"></a>
      <p class="texto"><a href="4.Bloque de Búsquedas específicas/4.Bloque de Búsquedas específicas.htm">Bloque Búsquedas Específicas</a></p>
    </div>

    <div id="mapas">
        <p>
          Si necesitas algo de dirección aquí hay algunos <b>Mapas de Navegación:</b>
        </p>
        <br>

        <ul>
        <h3>
          <li><p><a href="images/Acceso.svg">Mapa de Navegación "Acceso"</a></p></li>
          <li><p><a href="images/CUC.svg">Mapa de Navegación "CUC"</a></p></li>
          <li><p><a href="images/Cuenta Maestra.svg">Mapa de Navegación "Cuenta Maestra"</a></p></li>
          <li><p><a href="images/Reportes.svg">Mapa de Navegación "Reportes"</a></p></li>
        </h3>
        </ul>
    </div>



  </header>

  <div id="jobaid">
    <p>
      Los <b>puntos más importantes</b> de Siana los resumimos en este Job Aid
    </p>
      <img src="images/Siana_Job Aid.png" alt="Job Aid Siana"/>
  </div>





  </body>


</html>
